<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="DataSection.css" rel="stylesheet">
    <link href="Form.css" rel="stylesheet">
    <link href="HeaderSection.css" rel="stylesheet">
    <link href="./asset/css/bootstrap.css" rel="stylesheet">
    <script src="./asset/js/bootstrap.bundle.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header-section-wraper">
    <div class='container'>
        <div class='header-section-title-wraper'>
            <div class='row'>
                <div class='col-sm-12 col-md-6 col-lg-6'>
                    <div class='header-section-margin'>
                        <h1 class='header-section-title'>Game</h1>
                        <h1 class='header-section-title'>Of Throne</h1>
                    </div>
                    <br><br><br><br><br><br><br>
                    <div class='space'>
                        <div class=''>
                        <label class='label-header'>Search Interaksi Karakter tertentu </label>
                        <select>
                            <option disabled selected="true">
                                Pilih Buku Yang Di Inginkan
                              </option>
                              <option value=''></option>
                        </select>
                            <input type="text" placeholder="Ketik Interaksi Karakter Yang Di Inginkan.."/>
                        </div>
                    </div>
                </div> 
                <div class='col-sm-12 col-md-6 col-lg-6'>
                    <div class='header-section-image'>
                        <img src='asset/image/header2.png' alt='headerimage'/>
                    </div>
                </div> 
            </div>
         </div>
    <!-- </div>
    <div class='container'> -->
        <div class='data-title-wraper'>
            <h1 class='data-title-list' >Daftar Data Interaksi</h1>
        </div>
        <div class='card-data-list'>
            <div class='row card-data-wraper-content'>
                <div class='col-sm-4 col-md-4 col-lg-2'>
                    <div class=''>
                        <h1 class='card-data-title'>No</h1>
                        <p class='card-data-sub-title'>1.</p>
                        <p class='card-data-sub-title'>2.</p>
                        <p class='card-data-sub-title'>3.</p>
                        <p class='card-data-sub-title'>4.</p>
                        <p class='card-data-sub-title'>5.</p>
                        <p class='card-data-sub-title'>6.</p>
                        <p class='card-data-sub-title'>7.</p>
                        <p class='card-data-sub-title'>8.</p>
                        <p class='card-data-sub-title'>9.</p>
                        <p class='card-data-sub-title'>10.</p>
                    </div>
                </div>
                <div class='col-sm-4 col-md-4 col-lg-4'>
                    <div class=''>
                        <h1 class='card-data-title'>Berinteraksi Dengan</h1>
                            <p class='card-data-sub-title'></p>
                        </div>
                </div>
                <div class='col-sm-4 col-md-4 col-lg-4'>
                    <div class=''>
                        <h1 class='card-data-title'>Count Interaksi</h1>
                        <p class='card-data-sub-title'></p>
                    </div>
                </div>
            </div>
            <div class='text-center'>
                <button class='button-pagination'>Next</button>
                <button class='button-pagination'>Previos</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>